---
Language: Cpp
Standard: c++17
#AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
#AlignConsecutiveShortCaseStatements: true
#AllowShortCaseLabelsOnASingleLine: true
#AllowShortFunctionsOnASingleLine
AlignOperands: DontAlign # Doesn't work, if ColumnLimit is >80, or 0 :(
BreakBeforeBinaryOperators: NonAssignment # Also 
#BreakBeforeBinaryOperators: None
BreakBeforeBraces: Linux # Or custom
ColumnLimit: 0 # \todo Set to 120 when ready.
PenaltyBreakFirstLessLess: 100
IndentWidth: 4
#LineEnding: LF # clang-format-16+
UseTab: Never
...
