name: Static Analysis

on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  CodeFormat:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Format code
        run: ./.clang-format.sh
      # \todo Check for changes.

  CodeQL:
    permissions:
      contents: read
      security-events: write
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Qt
        run: |
          sudo apt-mark hold firefox grub-efi-amd64-signed
          sudo apt update
          sudo apt upgrade
          sudo apt install qtbase5{,-doc}-dev qtconnectivity5-{dev,doc-html} qttools5-dev{,-tools}
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: cpp
      - name: Build
        run: |
          cmake -S "$GITHUB_WORKSPACE" -B "$RUNNER_TEMP"
          cmake --build "$RUNNER_TEMP"
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  Cppcheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Install Cppcheck
        run: |
          sudo apt-mark hold firefox grub-efi-amd64-signed
          sudo apt update
          sudo apt upgrade
          sudo apt install cppcheck
      - uses: actions/checkout@v4
      - name: Perform Cppcheck Analysis
        run: ./.cppcheck.sh --xml --xml-version=2 2> "$RUNNER_TEMP/cppcheck.xml"
      - name: Generate Report
        if: ${{ failure() }}
        run: |
          cppcheck-htmlreport --title=Dokit --file="$RUNNER_TEMP/cppcheck.xml" \
            --report-dir="$RUNNER_TEMP/report" --source-dir="$GITHUB_WORKSPACE"
      - name: Upload Report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: Cppcheck HTML Report
          path: "${{ runner.temp }}/report"

  yamllint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: yamllint .
